---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Deliver Value Faster</h5>

            <p class="light">You solve important problems every day. You're on a mission. I'm here to help you provide modern, cloud-ready services to the people you serve - faster and more reliably than ever before.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Gain Rapid Feedback</h5>

            <p class="light">Being agile means being responsive to the needs of your customers. I'll provide creative methods for you to get feedback from your most important customers - your users.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">replay</i></h2>
            <h5 class="center">Build, Measure, Learn, Celebrate!</h5>

            <p class="light">I'll introduce ideas for keeping work fun and collaborative while constantly improving performance. After all, shipping code feels good!</p>
          </div>
        </div>
      </div>
    </div>

<div class="section no-pad-bot">
  <div class="container">
    <div class="section">
     <div class="row center">
        <p class="light">Feeling bold? Alpha test the personalized approach! Answer a few questions and I'll get back to you with a few tidbits of advice tailored to your team.</p>
        <a href="http://bit.ly/devopsquestions" id="download-button" class="btn-large waves-effect waves-light orange">Get started!</a>
        <br>
        <p class="light">Feel free to stick the the blog if that's not for you :) </p>
      </div>
    </div>
  </div>
</div>
      <br><br>
      
    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Latest Posts</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>
</div>

  </div>